{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="portfolio">
            <div class="page_header">
                <h1>{{ portfolioInfo.name | e }}</h1>
                <h5>
                    <span>
                        <span>Telefon:</span>
                        <a href="tel:{{ portfolioInfo.phone | e }}" class="normal-text">{{ portfolioInfo.phone | e }}</a>
                    </span>
                </h5>
                <h5>
                    <span>
                        <span>E-post:</span>
                        <a href="mailto:{{ portfolioInfo.email | e }}" class="normal-text">{{ portfolioInfo.email | e }}</a>
                    </span>
                </h5>
                <h5>
                    <span>
                        <span>Github:</span>
                        <a href="https://github.com/TheN4meless0ne" class="normal-text">@TheN4meless0ne</a>
                    </span>
                </h5>
            </div>
            <div class="page_content_container">
                {% if imageInfo.showImage %}
                    <div class="image-container">
                        <img src="{{ url_for('serve_image', filename=imageInfo.filename) }}" alt="{{ imageInfo.alt }}" class="image large-right">
                    </div>
                {% endif %}
                <hr>
                <div class="page_content">
                    <p>{{ portfolioInfo.profile | replace('\n', '<br>') | safe }}</p>
                    <hr>
                    <h4>Utdanning</h4>
                    {% for edu in portfolioInfo.education %}
                        <div class="education_item">
                            <p class="bold-text no-margin">{{ edu.school }}</p>
                            <p class="no-margin">{{ edu.year }}</p>
                            <p>{{ edu.program }}</p>
                        </div>
                    {% endfor %}
                    <hr>
                    <h4>Arbeidserfaring</h4>
                    {% for work in portfolioInfo.workExperience %}
                        <div class="work_item">
                            <p class="bold-text no-margin">{{ work.coandposition }}</p>
                            <p class="no-margin">{{ work.start2end }}</p>
                            <p>{{ work.description }}</p>
                        </div>
                    {% endfor %}
                    <hr>
                    <h4>Prosjekter</h4>
                    {% for project in portfolioInfo.projects %}
                        <div class="project_item">
                            <p class="bold-text no-margin">{{ project.title }}</p>
                            <p class="no-margin">{{ project.description }}</p>
                        </div>
                    {% endfor %}
                     <hr>
                     <h4>Ferdigheter</h4>
                     {% for skill_category in portfolioInfo.skills %}
                        <details class="skills_category">
                            <summary class="larger_text">{{ skill_category.category }}</summary>
                            <ul>
                                {% for skill in skill_category.skills %}
                                    <li>{{ skill }}</li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="page_footer">
                <h5>Kontaktinformasjon</h5>
                <h6>
                    <span>
                        <span>Telefon:</span>
                        <a href="tel:{{ portfolioInfo.phone | e }}" class="normal-text">{{ portfolioInfo.phone | e }}</a>
                    </span>
                </h6>
                <h6>
                    <span>
                        <span>E-post:</span>
                        <a href="mailto:{{ portfolioInfo.email | e }}" class="normal-text">{{ portfolioInfo.email | e }}</a>
                    </span>
                </h6>
            </div>
        </div>
    </div>
{% endblock content %}