{% extends 'layout.html' %}

{% block content %}
    <div class="index">
        <h1>[Insert Title]</h1>
        <hr>
        <details>
            <summary>Tidligere Prosjekter</summary>
            <ul>
                <li>
                    <a href="https://github.com/TheN4meless0ne/burger-website" class="normalText">Bedriftsprosjekt 2IT</a>
                    <span class="project-date">November 2024</span>
                </li>
                <li>
                    <a href="https://https://github.com/TheN4meless0ne/NoPaywallinator" class="normalText">Browser Extension som automatisk fjerner blur effekt på nettsider</a>
                    <span class="project-date">November 2024</span>
                </li>
                <!-- Continue as needed -->
            </ul>
        </details>
    </div>
{% endblock content %}