<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include "partials/head.html" | safe %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {% include "partials/header.html" %}
            {% endblock %}
        </header>
        
        <main role="main" class="container">
            <div class="row">

                {% block content %} {% endblock content %}
            
                {% if show_sidebar is not defined or show_sidebar %}
                    {% block sidebar %}
                        {% include "partials/sidebar.html" %}
                    {% endblock sidebar %}
                {% endif %}
            </div>
        </main>

        {% block scripts %}
            {% include "partials/parts/scripts.html" %}
        {% endblock %}
    </body>