<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elias Greig-Vistnes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="header">
        <h1>Elias Greig-Vistnes</h1>
        <p>Telefon: redacted</p>
        <p>E-post: redacted</p>
        <img src="/static/img/egv.webp" alt="Picture of Elias Greig-Vistnes" id="selfPortrait">
    </div>
    <br>
    <div id="aboutMe">
        <p>Jeg er en engasjert fritidsprogrammerer som har erfaring og kunnskap innenfor kodespråk som HTML, CSS, Java, JavaScript og Python.</p>
        <p>På fritiden trener jeg på treningsstudio. I tillegg prøver å lære mer innenfor datateknologi med å finne informasjon om programvarer og med å finne problemstillinger som jeg kan prøve å løse.</p>
        <p>Jeg har også litt erfaring med hvordan man bytter komponenter i datamaskiner etter å ha vært utplassert hos Aker BP for praktisk yrkesorientering i en uke i 2022, og etter å ha oppgradert egen datamaskin.</p>
        <p>I 2018 deltok jeg på lokalt arrangert kodeklubb.</p>
    </div>
</body>
</html>