body {
background: #003747;
color: #dddddd;
margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
color: #eeeeee;
}

.bg-steel {
background-color: #00313f;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #dddddd;
border-radius: 3px;
margin-bottom: 20px;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img {
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

.larger_text {
font-size: 1.2rem;
}

a.normalText {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

.bold-text {
    font-weight: bold;
}

.no-margin {
    margin: 0;
}

.container {
    display: absolute;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; /* Adjust the width as needed */
}

.page_header {
    /* Add styles for the container header */
}

.page_content_container {
    display: block;
}

.page_content {
    text-align: left;
}

details {
    padding: 10px;
    border-radius: 5px;
    background-color: #00313f; /* Slightly lighter blue background */
}

summary {
    font-weight: bold;
    background-color: #005f73; /* Different shade for summary */
    padding: 5px;
    border-radius: 5px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-date {
    margin-left: auto;
    padding-left: 10px;
}

.image-container {
    flex-shrink: 0;
}

.image {
    width: 400px; /* Adjust this value to control the image size */
    height: auto;
    margin-left: 20px; /* Adjust the margin to control spacing around the image */
    position: absolute;
    right: -600px; /* Move the image further to the right */
}

@media (max-width: 768px) {
    .image {
        width: 300px; /* Adjust this value to control the image size */
        margin-left: 0; /* Remove the left margin */
        margin-bottom: 20px; /* Add margin below the image */
        position: static; /* Reset the position */
        right: 0; /* Reset the right property */
    }
}