body {
    font-family: Arial, sans-serif;
    width: 60em;
    margin: 0 auto;
    background-color: #f0f0f0;
}

h1 {
    font-size: 3.5em;
}

#selfPortrait {
    width: 300px;
    border-radius: 25%;
    display: inline-block;
}